header {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo {
    margin-left: 20px;
    width: 140px;
    height: 62px;
    background: url('../images/logo.png') no-repeat center;
}